<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statu</key>
	<string>success</string>
	<key>message</key>
	<string>成功</string>
	<key>result</key>
	<dict>
		<key>name</key>
		<string>QiMENG</string>
		<key>gender</key>
		<string>Male</string>
		<key>birth</key>
		<string>1990-02</string>
		<key>address</key>
		<string>福州</string>
		<key>headimgurl</key>
		<string>http://qimeng.github.io/phone/imgs/IMG_0105.JPG</string>
		<key>main</key>
		<array>
			<dict>
				<key>label</key>
				<string>Honours</string>
				<key>title</key>
				<string>Honours</string>
				<key>classid</key>
				<string>Honours</string>
				<key>iconurl</key>
				<string>http://qimeng.github.io/phone/common/flag@2x.png</string>
				<key>items</key>
				<array>
					<dict>
						<key>label</key>
						<string></string>
						<key>title</key>
						<string></string>
						<key>imgurl</key>
						<string>http://qimeng.github.io/phone/imgs/IMG_00491.JPG</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>label</key>
				<string>Education</string>
				<key>title</key>
				<string>Education</string>
				<key>classid</key>
				<string>Education</string>
				<key>iconurl</key>
				<string>http://qimeng.github.io/phone/common/vcard@2x.png</string>
				<key>items</key>
				<array>
					<dict>
						<key>label</key>
						<string></string>
						<key>title</key>
						<string></string>
						<key>imgurl</key>
						<string>http://qimeng.github.io/phone/imgs/IMG_00491.JPG</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>label</key>
				<string>Training</string>
				<key>title</key>
				<string>Training</string>
				<key>classid</key>
				<string>Training</string>
				<key>iconurl</key>
				<string>http://qimeng.github.io/phone/common/sharable@2x.png</string>
				<key>items</key>
				<array>
					<dict>
						<key>label</key>
						<string></string>
						<key>title</key>
						<string></string>
						<key>imgurl</key>
						<string>http://qimeng.github.io/phone/imgs/IMG_00491.JPG</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>label</key>
				<string>Evaluation</string>
				<key>title</key>
				<string>Evaluation</string>
				<key>classid</key>
				<string>Evaluation</string>
				<key>iconurl</key>
				<string>http://qimeng.github.io/phone/common/clipboard@2x.png</string>
				<key>items</key>
				<array>
					<dict>
						<key>label</key>
						<string></string>
						<key>title</key>
						<string></string>
						<key>imgurl</key>
						<string>http://qimeng.github.io/phone/imgs/IMG_00491.JPG</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>projects</key>
		<array>
			<dict>
				<key>year</key>
				<string>2014</string>
				<key>title</key>
				<string></string>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>项目名称</string>
						<key>title</key>
						<string></string>
						<key>iconurl</key>
						<string></string>
						<key>tourl</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
